In [13]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

# Création de données exemple
data = pd.DataFrame({
    'Salaire': [30000, 50000, 80000, 120000, 45000],
    'Age': [25, 35, 45, 55, 30],
    'Années_experience': [2, 8, 15, 25, 5]
})

# Création du scaler
scaler = MinMaxScaler()

# fit_transform : apprend les min/max ET transforme
data_scaled = scaler.fit_transform(data)

# Conversion en DataFrame pour mieux visualiser
data_scaled_df = pd.DataFrame(data_scaled, columns=data.columns)

#Opération inverse
back = scaler.inverse_transform(data_scaled)
back_df = pd.DataFrame(back, columns=data.columns)

back_df

    Salaire   Age  Années_experience
0   30000.0  25.0                2.0
1   50000.0  35.0                8.0
2   80000.0  45.0               15.0
3  120000.0  55.0               25.0
4   45000.0  30.0                5.0