In [2]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

# Création de données exemple
data = pd.DataFrame({
    'Salaire': [30000, 50000, 80000, 120000, 45000],
    'Age': [25, 35, 45, 55, 30],
    'Années_experience': [2, 8, 15, 25, 5]
})

# Création du scaler
scaler = MinMaxScaler()

# fit_transform : apprend les min/max ET transforme
data_scaled = scaler.fit_transform(data)

# Conversion en DataFrame pour mieux visualiser
data_scaled_df = pd.DataFrame(data_scaled, columns=data.columns)

#Opération inverse
back = scaler.inverse_transform(data_scaled)
back_df = pd.DataFrame(back, columns=data.columns)

data_scaled_df

    Salaire       Age  Années_experience
0  0.000000  0.000000           0.000000
1  0.222222  0.333333           0.260870
2  0.555556  0.666667           0.565217
3  1.000000  1.000000           1.000000
4  0.166667  0.166667           0.130435